<div class="col-md-12">
    <dl>
        <dt id="userName">
            WE NEED TO ADD NAMES to the table
        </dt>
        <dd id="starRating">
            &#9733; &#9733; &#9733; &#9733; &#9733;
        </dd>
        <dd id="userComment">
            {{this.comments}}
        </dd>
    </dl>
</div>