<div class="col-md-12">
    <div class="card text-white bg-dark mb-3">
        <div class="card-header">{{this.subject}}</div>
        <div class="card-body">
            <h5 class="card-title">Secondary card title</h5>
            <p class="card-text">{{this.review}}</p>
            <a href="#" class="btn btn-warning">More Info</a>
        </div>
    </div>
</div>